
.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

/* Header style */

.secondary-bg{
    background-color: #FFF8F3;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: contain, auto;
}


/* Nav Styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 52px 230px;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}

nav ul{
    display:flex;
    align-items: center ;
    
    
}

nav ul li{
    list-style: none;
    margin-right: 51px;


}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: bold;
    border-style: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 230px;
    align-items:center;
}

.banner-content{
    max-width: 374px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
    color: #181818;
}
.bannerPP{
    width:710px;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.section-description{
    font-size: 18px;
    color: #757575;
}

/* about-styles */
.about{
    border-radius: 10px;
    padding: 131px 157px;
    margin-top: 130px;
   
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
   
}

main section{
    
    
}

.item-description{
    font-weight: bold;
}
.about-items{
    display:flex;
    justify-content: space-around;
}

.text-center{
    text-align: center;
}

.skills{
    margin-top: 130px;
}

.skill-name{
    font-size: 20px;
    font-weight: bold;
}
.skill-description{
    font-size: 16px;
    color: #757575;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill-container{
    background-color:rgb(190, 195, 195, 0.10);
    text-align: left;
    box-shadow: 0px 6px 50 opx, rgba(0, 0, 0, 0.98)
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    justify-content: space-around; 
}

.section-title{
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.subtitle{
    font-size: 22px;
    font-weight: bold;
    color: #757575;
}

.experience{
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-container{
    display: flex;
    gap: 24px;
    text-align: left;
}
.experience-description{
    color: #757575;
    font-size: 16px;
}
.resume-download{
    margin: 50px;
}
footer{
    display: flex;
    padding: 130px 230px;
    gap: 117px;
    text-align: left;
}
.footer-column{
    width: 50%;
}

.footer-column-2{
    /* margin-bottom: 24px; */
}

footer input[type="text"], footer input[type="email"], footer textarea{
height: 64px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 24px;
border: none;
font-size: 16px;
}

}